In [79]:
import pandas as pd
import numpy as np

In [80]:
df=pd.read_csv('C:\\Users\\Honey\\Documents\\datasets\\geeksforgeeks\\swiggy.csv')

In [81]:
df

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
...,...,...,...,...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

In [82]:
df.isnull().sum()

id                0
name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64

In [83]:
df.describe()

                  id
count  148541.000000
mean   363466.378912
std    167890.977174
min       211.000000
25%    233320.000000
50%    412628.000000
75%    502223.000000
max    581031.000000

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [85]:
#1. Number of cities (including subregions) where swiggy is having their restaurants listed?
len(df.groupby('city'))

821

In [86]:
#2. Number of cities (don't include subregions) where swiggy is having their restaurants listed?
df['city'].apply(lambda x: x.split(",")[-1]).nunique()

552

In [87]:
#3.The Subregion of Delhi with the maximum number of restaurants listed on Swiggy?
re=df['city']=='Delhi'
re.count()

148541

In [88]:
#4.Name the top 5 Most Expensive Cities in the Datasets.
df.sort_values('cost')['city'].head(5)

111609                 Muzaffarpur
100742             Aliganj,Lucknow
40494      ECR-Kottivakkam,Chennai
109636    Scruz Bandra East,Mumbai
146288      Governorpet,Vijayawada
Name: city, dtype: object

In [89]:
#5.List out the maximum and minimum ratings throughout the dataset.
for name in df.sort_values(by='rating',ascending=False).head(1)['name']:
    print(f"Restaurant in Abohar with maximum rating: {name}")

Restaurant in Abohar with maximum rating: Begums Khansama

In [90]:
#6.Name of top 5 cities with the highest number of restaurants listed.
for city in df['city'].value_counts().sort_values(ascending=False).head(5).index:
    print(city)

Bikaner
Noida-1
Indirapuram,Delhi
BTM,Bangalore
Rohini,Delhi

In [91]:
#7.Top 10 cities as per the number of restaurants listed?
df.groupby('city')['name'].count().sort_values(ascending=False).reset_index().head(10)['city']

0                      Bikaner
1                      Noida-1
2            Indirapuram,Delhi
3                BTM,Bangalore
4                 Rohini,Delhi
5                 Kothrud,Pune
6        Indiranagar,Bangalore
7    Electronic City,Bangalore
8      Greater Kailash 2,Delhi
9                 Vashi,Mumbai
Name: city, dtype: object

In [72]:
#8.Name the top 5 Most Popular Restaurants in Pune.
df = df[['city','name','cost']]

# Sorting the filtered dataset by cost 
df = df.sort_values(by='cost',ascending=True)

# Findind the cities with least expensive restaurant in terms of cost
for city in df[df['cost'] == "₹ 1"]['city'].head(5).values:
    print(city)

Muzaffarpur
Aliganj,Lucknow
ECR-Kottivakkam,Chennai
Scruz Bandra East,Mumbai
Governorpet,Vijayawada

In [97]:
#9.Which SubRegion in Delhi is having the least expensive restaurant in terms of cost?
df = df[['city','name','cost']]

# Sorting the filtered dataset by cost 
df = df.sort_values(by='cost',ascending=True)

# Findind the cities with least expensive restaurant in terms of cost
for city in df[df['city'] == "Delhi"]['city'].values:
    print(city)

In [74]:
#10.Top 5 most popular restaurant chains in India?
for name in df['name'].value_counts().sort_values(ascending=False).head(5).index:
    print(name)

Domino's Pizza
Pizza Hut
KFC
Kwality Walls Frozen Dessert and Ice Cream Shop
Baskin Robbins

In [94]:
#11.Which restaurant in Pune has the most number of people visiting?
df = df[df['city'] == 'Pune']

# Fetching max rating restaurant name
for name in df.sort_values(by='rating',ascending=False).head(1)['name']:
    print(f"Restaurant in Abohar with maximum rating: {name}")

In [95]:
#12.Top 10 Restaurants with Maximum Ratings in Banglore
df = df[df['city'] == 'Banglore']

# Fetching max rating restaurant name
for name in df.sort_values(by='rating',ascending=False).head(1)['name']:
    print(f"Restaurant in Abohar with maximum rating: {name}")

In [96]:
#13.Top 10 Restaurant in Patna w.r.t rating 
df = df[df['city'] == 'Patna']

# Fetching max rating restaurant name
for name in df.sort_values(by='rating',ascending=False).head(1)['name']:
    print(f"Restaurant in Abohar with maximum rating: {name}")